<div class="eqLogic-widget eqLogic allowResize" style="min-height: 200px;min-width: 350px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
<i class='fa #isRunning# pull-left' style="margin-top: 3px;margin-left: 3px;"></i>
 <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#"><strong>#name_display#</a></strong></center><br />
	<div class="verticalAlign">
		<center>

			<div style="display: table; overflow: hidden; width: 95%">
				<div style="display: table-row;height: 100px;">
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Température">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="icon divers-thermometer31" style="font-size: 2em;"></i><br />#RoomTemperature# °C</center>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Température">
					<div class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#actionSetTemperature_id#" style="min-width:180px;min-height:60px;font-size: 10;" >
						<center>
							<div class="btn-group">
								<div style="width: 100%; text-align:center; vertical-align: middle;">
									<div style="float: left; height: 90px;">
										<span style="font-size: 4em; font-weight: bold;" id="valeur#actionSetTemperature_id#"></span>
										<span style="font-size: 16px">°C</span>
									</div>
									<div style="float: left; margin-top: 8px; width: 35px; height: 80px; font-size: 2em; text-align: center; line-height: 30px;">
										<a style="cursor: pointer;" class="btn-sm bt_plus" ><i class="fa fa-2x fa-plus-square"></i></a>
										<br />
										<a style="cursor: pointer;" class="btn-sm bt_minus" ><i class="fa fa-2x fa-minus-square"></i></a>
									</div>
								</div>
							</div>
						</center>

					</div>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em; text-align:center; vertical-align: middle;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Alimentation">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-sun" id="on#On_id#"></i> ON</center>
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-times-circle" id="on#Off_id#"></i> OFF</center>
					</div>
				</div>
			</div>

			<div style="display: table; overflow: hidden; width: 95%; text-align:center; vertical-align: middle;">
				<div style="display: table-row;">
					<div style="display: table-cell; width: 50%;cursor:default; text-align:center;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Mode">
						<center>Mode <select id="mode#selectOperationMode_id#">
							<option value="8">{{Auto}}</option>
							<option value="7">{{Ventile}}</option>
							<option value="3">{{Froid}}</option>
							<option value="2">{{Séchage}}</option>
							<option value="1">{{Chaud}}</option>
						</select></center>
					</div>
					<div style="display: table-cell; width: 50%;cursor:default; text-align:center;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Ventilateur">
						<center> Ventilateur <select id="mode#selectSetFanSpeed_id#">
							<option value="5">  5  </option>
							<option value="4">  4  </option>
							<option value="3">  3  </option>
							<option value="2">  2  </option>
							<option value="1">  1  </option>
							<option value="0">  0  </option>
						</select></center>
					</div>
				</div>
			</div>

		</center>
	</div>
</div>

<script>
	var sbjs_Timer#actionSetTemperature_id#;

	/***** Init *****/
	$('#valeur#actionSetTemperature_id#').text( #SetTemperature# );

	/***** + *****/
	$('.cmd[data-cmd_id=#actionSetTemperature_id#] .bt_plus').on('click', function () {
		$('#valeur#actionSetTemperature_id#').text( parseFloat(parseFloat($('#valeur#actionSetTemperature_id#').text()) + 0.5 ).toFixed(1) );

		clearTimeout(sbjs_Timer#actionSetTemperature_id#);
		sbjs_Timer#actionSetTemperature_id# = setTimeout(sbjs_Save#actionSetTemperature_id#, 1500);
	});

	/***** - *****/
	$('.cmd[data-cmd_id=#actionSetTemperature_id#] .bt_minus').on('click', function () {
		$('#valeur#actionSetTemperature_id#').text( parseFloat(parseFloat($('#valeur#actionSetTemperature_id#').text()) - 0.5 ).toFixed(1) );

		clearTimeout(sbjs_Timer#actionSetTemperature_id#);
		sbjs_Timer#actionSetTemperature_id# = setTimeout(sbjs_Save#actionSetTemperature_id#, 1500);
	});

	/***** Envoi de la nouvelle consigne *****/
	function sbjs_Save#actionSetTemperature_id#() {
		jeedom.cmd.execute({
			id: '#actionSetTemperature_id#',
			value: { slider: parseFloat( $('#valeur#actionSetTemperature_id#').text() ) }
		});
	}

	$('#on#On_id#').on('click', function () {
		jeedom.cmd.execute({
			id: '#On_id#'
				});
	});

	$('#off#Off_id#').on('click', function () {
		jeedom.cmd.execute({
			id: '#Off_id#'
				});
	});

	$('#mode#selectOperationMode_id#').on('select', function () {
		jeedom.cmd.execute({
			id: '#On_id#',
			value: { select: parseFloat( $('#mode#selectOperationMode_id#').text() ) }
				});
	});

	$('#mode#selectSetFanSpeed_id#').on('select', function () {
		jeedom.cmd.execute({
			id: '#selectSetFanSpeed_id#',
			value: { select: parseFloat( $('#mode#selectSetFanSpeed_id#').text() ) }
				});
	});
</script>
