<div class="eqLogic-widget eqLogic allowResize" style="min-height: 200px;min-width: 300px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
<i class='fa #isRunning# pull-left' style="margin-top: 3px;margin-right: 3px;"></i>
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#"><strong>#name_display#</a></strong></center><br />
	<div class="verticalAlign">
		<center>

			<div style="display: table; overflow: hidden; width: 95%">
				<div style="display: table-row;">
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Température">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="icon divers-thermometer31" style="font-size: 2em;"></i> #RoomTemperatureZone#</center>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Température">
					<div class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#actionSetTemperatureZone_id#" style="min-width:180px;min-height:60px;font-size: 10;" >
						<center>
							<div class="btn-group">
								<div style="width: 100%; text-align:center;">
									<div style="float: left; height: 90px;">
										<span style="font-size: 4em; font-weight: bold;" id="valeur#actionSetTemperatureZone_id#"></span>
										<span style="font-size: 16px">°C</span>
									</div>
									<div style="float: left; margin-top: 8px; width: 35px; height: 80px; font-size: 2em; text-align: center; line-height: 30px;">
										<a style="cursor: pointer;" class="btn-sm bt_plus" ><i class="fa fa-2x fa-plus-square"></i></a>
										<br />
										<a style="cursor: pointer;" class="btn-sm bt_minus" ><i class="fa fa-2x fa-minus-square"></i></a>
									</div>
								</div>
							</div>
						</center>

					</div>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Circuit">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-arrow-right"></i> #FlowTemperatureZone#</center>
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-arrow-left"></i> #ReturnTemperatureZone#</center>
					</div>
				</div>
			</div>

		</center>
	</div>
</div>

<script>
	var sbjs_Timer#actionSetTemperatureZone_id#;

	/***** Init *****/
	$('#valeur#actionSetTemperatureZone_id#').text( #SetTemperatureZone# );

	/***** + *****/
	$('.cmd[data-cmd_id=#actionSetTemperatureZone_id#] .bt_plus').on('click', function () {
		$('#valeur#actionSetTemperatureZone_id#').text( parseFloat(parseFloat($('#valeur#actionSetTemperatureZone_id#').text()) + 0.5 ).toFixed(1) );

		clearTimeout(sbjs_Timer#actionSetTemperatureZone_id#);
		sbjs_Timer#actionSetTemperatureZone_id# = setTimeout(sbjs_Save#actionSetTemperatureZone_id#, 1500);
	});

	/***** - *****/
	$('.cmd[data-cmd_id=#actionSetTemperatureZone_id#] .bt_minus').on('click', function () {
		$('#valeur#actionSetTemperatureZone_id#').text( parseFloat(parseFloat($('#valeur#actionSetTemperatureZone_id#').text()) - 0.5 ).toFixed(1) );

		clearTimeout(sbjs_Timer#actionSetTemperatureZone_id#);
		sbjs_Timer#actionSetTemperatureZone_id# = setTimeout(sbjs_Save#actionSetTemperatureZone_id#, 1500);
	});

	/***** Envoi de la nouvelle consigne *****/
	function sbjs_Save#actionSetTemperatureZone_id#() {
		jeedom.cmd.execute({
			id: '#actionSetTemperatureZone_id#',
			value: { slider: parseFloat( $('#valeur#actionSetTemperatureZone_id#').text() ) }
		});
	}
</script>
