<div class="eqLogic-widget eqLogic" style="min-height: 160px;min-width: 160px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#"><strong>#name_display#</a></strong></center><br />
	<div class="verticalAlign">
		<center>

      <div style="display: table; overflow: hidden; width: 95%">
				<div style="display: table-row;">
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Température">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="icon divers-thermometer31"></i> #RoomTemperatureZone2#</center>
					</div>
					<div style="display: table-cell; width: 50%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="PAC">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="icon techno-ventilateur"> #SetTemperatureZone2#</center>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Circuit">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-arrow-right"> #FlowTemperatureZone2#</center>
			    	<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-arrow-left"> #ReturnTemperatureZone2#</center>
					</div>
				</div>
			</div>

      <div style="display: table; overflow: hidden; width: 95%">
				<div style="display: table-row;">
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Statut">
						<center>Statut</center>
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;"><i class="fa fa-power-off"></i> #IdleZone2#</center>
					</div>
					<div style="display: table-cell; width: 75%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Mode">
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;">Mode #OperationModeZone2Text#</center>
					</div>
				</div>
			</div>

		</center>
	</div>
</div>
